#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor{
  display: grid;

}

.editor > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#editor-input{
  z-index: 1;
  opacity: 0;
}