.Course{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#courseTitle{
    padding: 2vh 5vw 5vh 5vw;
    margin: 0;
    background-color: #f1f0e1 ;
    border-bottom: 2px solid #aaaaaa;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.taskMap{
    padding: 5vh 5vw 15vh 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.taskSlot{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
    align-items: start;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: left;
}

.taskSlot a{
    font-size: 1.2em;
}

.CourseContent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1vw;
    gap: 2vw;
}

.taskData {
    flex: 1;
    height: 100%;
    text-align: left;
    padding: 20px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

#taskTitle {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
    border-bottom: 2px solid #93c5ff;
    padding-bottom: 10px;
    text-align: left;
}

.taskSummary {
    text-decoration: none;
    display: block;
    font-weight: normal;
    color: black;
}

#taskDescription {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    font-style: italic;
}

#taskDetails{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh 2vw 1vh 0;
    line-height: 1.6;
}

#previousTask, #nextTask {
    margin-right: 50px;
}

@media (max-width: 768px){
    .Course{
        font-size: 0.8em;
    }

    .taskMap{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 2vh 6vw 10vw 6vw;
    }

    .taskSlot{
        width: 200px;
        height: 150px;
    }

    .CourseContent{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1vh 2vw 5vh 2vw;
    }


    .taskData{
        width: 100%;
    }

    #taskTitle{
        font-size: 1.5em;
    }

    #taskDescription{
        font-size: 1em;
    }

    #taskDetails{
        font-size: 1em;
    }

    #previousTask, #nextTask {
        margin-right: 20px;
    }
}