.footer{
    background-color: #272238;
    color: white;
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a, .footer a:visited, .footer a:hover, .footer a:active{
    color: dodgerblue;
}

@media (max-width: 800px){
    .footer{
        font-size: 0.8em;
    }
}